/* .Navbar{
    background: #cbd9fe;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}
.NavbarLeft{
    display: flex;
    align-items: center;
    justify-content: center;
} */
